<ul class="nav-bar">
    <li
      id="home"
      class="nav active"
      pTooltip="Home"
      tooltipPosition="right"
      (click)="setNav('home')"
    >
      <a routerLink="/dashboard"><i class="pi pi-home " style="font-size: 1.5rem"></i></a>
    </li>
    <li
      id="companies"
      class="nav"
      pTooltip="Companies"
      tooltipPosition="right"
      (click)="setNav('companies')"
    >
      <a routerLink="/companies"><i class="pi pi-building" style="font-size: 1.5rem"></i></a>
    </li>
    <li
      id="contacted"
      class="nav"
      pTooltip="Contacted"
      tooltipPosition="right"
      (click)="setNav('contacted')"
    >
      <a routerLink="/companies/contacted"
        ><i class="pi pi-phone"></i
      ></a>
    </li>
    <li
      id="not-responds"
      class="nav"
      pTooltip="Not Responds"
      tooltipPosition="right"
      (click)="setNav('not-responds')"
    >
      <a routerLink="/not-responds"><i class="pi pi-database" style="font-size: 1.5rem"></i></a>
    </li>
    <li
      id="interested"
      class="nav"
      pTooltip="Interested"
      tooltipPosition="right"
      (click)="setNav('interested')"
    >
      <a routerLink="/interested"><i class="pi pi-thumbs-up" style="font-size: 1.5rem"></i></a>
    </li>
    <li
      id="in-trial"
      class="nav"
      pTooltip="In Trial"
      tooltipPosition="right"
      (click)="setNav('in-trial')"
    >
      <a routerLink="/in-trial"><i class="pi pi-calendar-plus" style="font-size: 1.5rem"></i></a>
    </li>
    <li
      id="trial-rejected"
      class="nav"
      pTooltip="Trial Rejected"
      tooltipPosition="right"
      (click)="setNav('trial-rejected')"
    >
      <a routerLink="/trial-rejected"><i class="pi pi-calendar-times" style="font-size: 1.5rem"></i></a>
    </li>
    <li
    id="customers"
    class="nav"
    pTooltip="customers"
    tooltipPosition="right"
    (click)="setNav('customers')"
  >
    <a routerLink="/customers"><i class="pi pi-user" style="font-size: 1.5rem"></i></a>
  </li>
  <li
  id="payments"
  class="nav"
  pTooltip="Payments"
  tooltipPosition="right"
  (click)="setNav('payments')"
>
  <a routerLink="/payments"><i class="pi pi-dollar" style="font-size: 1.5rem"></i></a>
</li>
<li
id="invoice"
class="nav"
pTooltip="Invoice"
tooltipPosition="right"
(click)="setNav('invoice')"
>
<a routerLink="/invoice"><i class="pi pi-file" style="font-size: 1.5rem"></i></a>
</li>
  </ul>
  