<div class= "wrapper">
<div class="h-header">
  <!-- <div class="wrapper">
    <div class="heading">
      <span>{{ contacted ? 'Contacted' : 'Company'}}</span>
    </div>
  </div> -->
  
  
  <button
    pButton
    type="button"
    label="Add Company"
    icon="pi pi-plus"
    (click)="navigateToAdd()"
  ></button>
</div> 
<div class="hurecom-wrapper">
  <p-contextMenu #cm [model]="companyItems"></p-contextMenu>
  <p-table [value]="company" [(contextMenuSelection)]="selectedCompany" [contextMenu]="cm" dataKey="id"
      [(selection)]="selectedCompanies">
      <!-- <ng-template pTemplate="caption">
          <form [formGroup]="searchForm">
              <div class="search-wrapper">

                  <div class="grid grid-nogutter">
                      <div class="col-12 md:col-6 lg:col-2">
                          <div class="field-wrapper">
                              <div class="input-wrapper">
                                  <input pInputText placeholder="Search.." formControlName="search" />
                              </div>
                          </div>
                      </div>
                      <div class="col-12 md:col-6 lg:col-2">
                          <div class="field-wrapper">
                              <div class="input-wrapper">
                                  <p-dropdown [options]="dateFilterTypes" optionLabel="displayValue"
                                      optionValue="dataValue" placeholder="Select Date Filter"
                                      formControlName="filterType">
                                  </p-dropdown>
                              </div>
                          </div>
                      </div>
                      <div class="col-12 md:col-6 lg:col-2" *ngIf="searchForm.value.filterType == 'Custom'">
                          <div class="field-wrapper">
                              <div class="input-wrapper">
                                  <p-calendar formControlName="fromDate" placeholder="Select From Date">
                                  </p-calendar>
                              </div>
                          </div>
                      </div>
                      <div class="col-12 md:col-6 lg:col-2" *ngIf="searchForm.value.filterType == 'Custom'">
                          <div class="field-wrapper">
                              <div class="input-wrapper">
                                  <p-calendar formControlName="toDate" placeholder="Select To Date"></p-calendar>
                              </div>
                          </div>
                      </div>
                      <div class="col-12 md:col-6 lg:col-2">
                          <div class="field-wrapper">
                              <div class="mt-1">
                                  <p-button label="Reset" styleClass="p-button-secondary" (onClick)="reset()">
                                  </p-button>
                              </div>
                          </div>
                      </div>

                  </div>
              </div>
          </form>
      </ng-template> -->
      <ng-template pTemplate="header">
          <tr>
              <th style="width: 1rem">
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th>Company Details</th>
              <th>Location</th>
              <!-- <th>Client Details</th>
              <th>Status</th>
              <th>Owned By</th> -->
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-company>
          <tr [pContextMenuRow]="company">
              <td class="no-border">
                  <p-tableCheckbox [value]="company"></p-tableCheckbox>
              </td>
              <td class="no-border">
                  <div class="company">
                      <span>{{ company.companyName }}</span>
                      <span>{{ company.mobileNumber }}</span>
                      <span>{{ company.email }}</span>
                  </div>
              </td>
              <td class="no-border">
                  <div class="company">
                      <span>{{ company.location }}</span>
                      <span>{{ company.branch }}</span>
                  </div>
              </td>
              <!-- <td class="no-border">
                  <div class="company">
                      <span>{{ appliedJob.clientName }}</span>
                      <span>{{ appliedJob.cityName }}</span>
                  </div>
              </td>
              <td class="no-border">{{ appliedJob.status }}</td>
              <td class="no-border">
                  {{ appliedJob.ownedUser }}
              </td> -->
          </tr>
          
      </ng-template>
      <ng-template pTemplate="emptymessage">
          <tr>
              <td colspan="8">No records found.</td>
          </tr>
      </ng-template>
  </p-table>
  <!-- <div class="pagination-wrapper">
      <p-paginator (onPageChange)="onPageChange($event)" [totalRecords]="totalRecords"
          [rowsPerPageOptions]="[10, 20, 30]">
      </p-paginator>
  </div> -->
</div>
</div>